<!--Error Message-->
<% if(danger_msg[0]) {%>    
    <p href="#" class="text-right pt-1" style="padding-right: 55%; color: #d93025;"><small><i class="fa-sharp fa-solid fa-circle-exclamation"></i> <%=danger_msg%></small></p>
<% } %>